name: CI

on:
  push:
    branches: [master, main]
  pull_request:

jobs:
  luacheck:
    name: Luacheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Lua/LuaJIT
        uses: leafo/gh-actions-lua@v10
        with:
          luaVersion: "5.1"

      - name: Install Luacheck
        run: |
          wget https://github.com/lunarmodules/luarocks/archive/refs/tags/v3.11.0.tar.gz
          tar -xzvf v3.11.0.tar.gz
          cd luarocks-3.11.0
          ./configure --lua-version=5.1
          make
          sudo make install
          luarocks install luacheck

      - name: Run Luacheck
        run: luacheck lua/

  lua_ls:
    name: LuaLS Typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install LuaLS
        uses: JohnnyMorganz/setup-luau-lsp@v2
        with:
          version: "latest"

      - name: Typecheck
        run: |
          luau-lsp analyze \
            --definitions=lua \
            --ignore=lua/gitb_nvim/defaults.lua \
            --ignore=lua/gitb_nvim/utils.lua \
            --ignore=lua/gitb_nvim/init.lua
        continue-on-error: true

  neovim:
    name: Neovim ${{ matrix.neovim }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim: [stable, nightly]
    steps:
      - uses: actions/checkout@v4

      - name: Install Neovim ${{ matrix.neovim }}
        run: |
          wget https://github.com/neovim/neovim/releases/download/${{ matrix.neovim }}/nvim.appimage
          chmod +x nvim.appimage
          sudo mv nvim.appimage /usr/local/bin/nvim

      - name: Check syntax
        run: nvim --headless -c "lua require('gitb_nvim')" -c "quitall!"

      - name: Health check
        run: nvim --headless -c "lua require('gitb_nvim.health').check()" -c "quitall!"

      - name: Check health command
        run: nvim --headless -c "checkhealth gitb" -c "quitall!"

  doc:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Neovim
        run: |
          wget https://github.com/neovim/neovim/releases/download/stable/nvim.appimage
          chmod +x nvim.appimage
          sudo mv nvim.appimage /usr/local/bin/nvim

      - name: Generate help tags
        run: nvim --headless -c "helptags doc/" -c "quitall!"
